{% extends 'base.html' %}

<h1>ADD johnapp</h1>

<ul class="list-group">
    <li class="list-group-item">olagbile john</li>
    <li class="list-group-item">olagbile john</li>
    <li class="list-group-item">olagbile john</li>
    <li class="list-group-item">olagbile john</li>
    <li class="list-group-item">olagbile john</li>
    <li class="list-group-item">olagbile john</li>
    <li class="list-group-item">olagbile john</li>
    <li class="list-group-item">olagbile john</li>
    <li class="list-group-item">olagbile john</li>
    <li class="list-group-item">olagbile john</li>
    <li class="list-group-item">olagbile john</li>
    <li class="list-group-item">olagbile john</li>
    <li class="list-group-item">olagbile john</li>

</ul>